<div class="container">
    <div class="row m-2">
        <h4>
            Add Cricketer
        </h4>        
    </div>
    <!-- <div class="row m-2">
        <div class="col-6">ID :</div>
        <div class="col-6"><input type="text" [(ngModel)]="cid"></div>
    </div> -->
    <div class="row m-2">
        <div class="col-6">First Name :</div>
        <div class="col-6"><input type="text" [(ngModel)]="cFName"></div>
    </div>
    <div class="row m-2">
        <div class="col-6">Last Name :</div>
        <div class="col-6"><input type="text" [(ngModel)]="cLName"></div>
    </div>
    <div class="row m-2">
        <div class="col-6">Role :</div>
        <div class="col-6"><input type="text" [(ngModel)]="cRole"></div>
    </div>
    <div class="row m-2">
        <div class="col-12 text-center">
            <button class="btn btn-primary w-50 text-center m-2" (click)="addCricketer()"> Add </button>
    
        </div>
    </div>
</div>