
<div class="container">
  <div class="row">
    <div class="col-2">
      <a [routerLink]="''">Home</a>
      
    </div>
    <div class="col-2">
      <a [routerLink]="'about'">About</a>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="goToServices()"> Services </button>
    </div>
    <div class="col-2">
      <a [routerLink]="'formTemplate'">Forms</a>
    </div>
    <div class="col-2">
      <a [routerLink]="'reactiveformTemplate'">ReactiveForms</a>
      
    </div>
    
  </div>
</div>
<hr>
<router-outlet />
