<div class="container">
    <div class="container my-1 p-2" >Filter by First Name: <input type="text" id="filterText" [(ngModel)]="filterText" (keyup)="onFilterChange()">
      <br></div>
  
  <div class="container">
    <table class="table table-striped table-bordered">
      <thead class="thead thead-dark"><tr>
        <td (click)="sortByFirstName()" (dblclick)="sortByFirstNameRev()">FirstName</td>
        <td>LastName</td>
        <td>Role</td></tr>
      </thead>
      <tbody>
        @for (cricketer of cricketers; track $index) {
          <tr>
            <td>{{ cricketer.name }} </td>
            <td>{{cricketer.lname}}</td>
            <td>{{cricketer.role}}</td>
            <td>
              <button class="btn btn-danger" (click)="removeCricketer($index)">Remove</button>
            </td> 
          </tr>
          }
      </tbody>
     
    </table>
  </div>
    
  
    <input type="text" name="FirstName" id="FirstName" class="m-1 p-1" [(ngModel)]="firstName">
    <input type="text" name="LastName" id="LastName" [(ngModel)]="lastName" class="m-1 p-1">
    <input type="text" name="Role" id="Role" [(ngModel)]="role" class="m-1 p-1">
    <button class="btn btn-primary m-1 p-1" (click)="addCrickter()">Add</button>
    
  
  
  </div>
  