<h5>Mission List :</h5>
<div class="container p-10">
  <div class="row">
    <ul class="list-group">
      @for (mission of missions; track $index) {
      <li class="list-group-item">
        <div class="row">
          <div class="col-6">{{ mission }}</div>
          <div class="col-3">
            <button class="btn btn-warning" (click)="moveUp($index)">
                <i class="bi bi-arrow-up-circle-fill"></i>
            </button>
          </div>
          <div class="col-3">
            <button class="btn btn-danger" (click)="removeMission($index)">
                <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </div>
      </li>
      }
    </ul>
  </div>
</div>
