<div class="container">
  <ul class="list-group list-group-flush">
    @for (product of productList; track $index) {
    <li class="list-group-item">
      <div class="row">
        <div class="container">
           <div class="row">
            <div class="col-11">
                <div class="row">
                    <div class="col-6 text-center"><h5>{{product.productName}}</h5></div>
                    <div class="col-6 text-center">
                        {{product.rating}}</div>
                </div>
                <div class="row">
                    <div class="col-4 text-center"> Cost : {{product.cost}}</div>
                    <div class="col-4 text-center">Category : {{product.category}}</div>
                    <div class="col-4 text-center">Brand : {{product.brand}}</div>
                </div>
            </div>
            <div class="col-1 text-center">
                <button class="btn btn-outline-danger" (click)="addProduct(product)"><i class="bi bi-cart-plus"></i></button>
            </div>
           </div>
        </div>
      </div>
      
    </li>
    }
  </ul>
</div>
