<!-- <br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <button class="btn btn-primary" [routerLink]="'/ironman'">Ironman</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary" [routerLink]="'/spiderman'">
        Spiderman
      </button>
    </div>
  </div>
  <br>
  <div class="row m-10 p-10">
    <router-outlet />
  </div>
</div> -->

<br />
<div class="container">
  <div class="row">
    <h2>Services</h2>
  </div>
  <hr />
  <div class="row">
    <div class="col-3">
      <app-ironman />
    </div>
    <div class="col-3">
      <app-spiderman />
    </div>
  </div>
  <br />
</div>
